.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../images/bg.jpg);
    text-align: center;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}
.banner__heading {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    padding: 106px 252px 0;
}
.banner__button {
    margin-top: 30px;
    margin-bottom: 106px;
}