.clients {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    gap: 30px;
    fill: $iconGrey;

    &__element {
        gap: 34px;
        justify-content: space-between;
        align-items: center;
        transition-property: border-color, background-color, fill, outline;
        transition-duration: $defaultTransitionDuration;
        transition-timing-function: $defaultTransitionTiming;
        width: 170px;
        height: 92px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        padding: 16px 32px;

        &:hover,
        &:focus {
            fill: $blue;
            border-color: $blue;
            outline: none;
        }
    }
}