.footer {
    color: #fff;
    background-color: $backgroundGrey;
    padding: 60px 0;

    &__grid {
        display: flex;
        gap: 70px;
    }

    &__info {
        padding-top: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7142;
        text-decoration: none;
    }

    &__info-element {
        padding-top: 9px;

        &--underline {
            text-decoration: underline;
        }
    }

    &__info-contact {
        color: #ffffff99;
        text-decoration: none;
        transition: color $defaultTransitionDuration $defaultTransitionTiming;

        &:hover,
        &:focus {
            color: $blue;
            outline: none;
        }
    }

    &__social {
        padding-top: 12px;
    }

    &__social-heading {
        font-size: 14px;
        line-height: 1.1428;
        letter-spacing: 0.03em;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__social-icons {
        display: flex;
        gap: 10px;
        padding-top: 20px;
        fill: #fff;
    }

    &__social-icon {
        border: none;
        border-radius: 50%;
        padding: 12px;
        background-color: #ffffff1a;
        transition-property: background-color, outline;
        transition-duration: $defaultTransitionDuration;
        transition-timing-function: $defaultTransitionTiming;

        &:hover,
        &:focus {
            background-color: $blue;
            outline: none;
        }
    }

    &__newsletter {
        padding-top: 12px;
    }

    &__newsletter-heading {
        padding-left: 20px;
        font-size: 14px;
        line-height: 1.1428;
        letter-spacing: 0.03em;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__newsletter-form {
        display: flex;
        gap: 12px;
        margin-top: 20px;
        margin-left: 20px;
    }

    &__newsletter-form-input {
        width: 358px;
        height: 50px;
        padding-left: 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: $backgroundGrey;
        color: #fff;
        transition-property: border;
        transition-duration: $defaultTransitionDuration;
        transition-timing-function: $defaultTransitionTiming;

        &:hover,
        &:focus {
            border-color: $blue;
            outline: none;
        }
    }
}