.portfolio {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 94px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}
.portfolio__item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__project {
    position: relative;
    width: 370px;
    height: 274px;
    overflow: hidden;
}
.portfolio__project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__project-description > p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.55;
    margin-left: 24px;
    margin-right: 45px;
}
.portfolio__project > img {
    vertical-align: middle;
}
.portfolio__project-name {
    padding: 20px 24px 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}
.portfolio__project-name > h3 {
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.portfolio__project-type {
    color: var(--grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
}
.portfolio__item:hover .portfolio__project-description,
figure:focus .portfolio__project-description {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover,
figure:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}