.our-team {
    background-color: #f5f4fa;
    padding-top: 94px;

    &__member {
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__name {
        color: $black;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1875;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    &__profession {
        color: $grey;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.1875;
    }

    &__contact {
        display: flex;
        gap: 10px;
        padding: 16px 32px 30px 32px;
    }

    &__contact-icon {
        border: none;
        background-color: #fff;
        border-radius: 50%;
        padding: 12px;
        box-shadow: none;
        padding: 12px;
        transition-property: background-color, fill, outline;
        transition-duration: $defaultTransitionDuration;
        transition-timing-function: $defaultTransitionTiming;

        &:hover,
        &:focus {
            background-color: $blue;
            fill: #fff;
            outline: none;
        }
    }
}